# data/raw/meteorite_landings.csv
output/*
!output/.gitkeep
.Rhistory
.RData
.Ruserdata
.Rproj.user/
renv/library/
renv/python/
renv/staging/
renv/cache/
renv/.gitignore
.DS_Store
.ipynb_checkpoints
src/.ipynb_checkpoints/
QuartoDSCIProject_files/